@font-face {
	font-family: 'Conthrax Rg';
	src: url(../../assets/fonts/ConthraxRg-Regular.woff2) format('woff2'),
	url(../../assets/fonts/ConthraxRg-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Conthrax Rg';
	src: url(../../assets/fonts/ConthraxRg-Bold.woff2) format('woff2'),
	url(../../assets/fonts/ConthraxRg-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}