body {
  color: #121212;
  line-height: 1.5;
  font-family: Inter, sans-serif;
  padding: 0px 20px;
  background: #f6f6f7;
  width: 100%;
  overflow-x: hidden;
}

p {
  color: #444444;
  font-size: 1.125rem;
  margin-bottom: 24px;
}

section {
  margin-bottom: 40px;
}

p.lead {
  font-size: 1.25rem;
  font-weight: 400;
}

span.outline {
  font-size: 32px;
  font-weight: bold;
  font-family: "Conthrax Rg";
  border-width: 0px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h1,
h2,
h3,
h4 {
  font-family: "Conthrax Rg";
  font-size: 24px;
}

#Navbar {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}

#Nav-Image {
  height: 44px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Footer .navbar-brand {
  margin-bottom: 24px;
}

.navbar-brand span {
  font-family: "Conthrax Rg";
  font-size: 20px;
  margin-left: 12px;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

#Nav-Button {
  background: #ffffff;
  font-family: "Conthrax Rg";
  color: #262626;
  padding: 18px 40px;
  border-radius: 16px;
  border-style: none;
  border-top-style: none;
  font-size: 14px;
}

#Hero {
  overflow-x: hidden;
}

#Hero-Heading {
  font-family: "Conthrax Rg";
  color: rgb(18, 18, 18);
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 24px;
  word-wrap: break-word;
}

#Hero-Left-Column {
  margin-bottom: 60px;
}

#Hero-Right-Column {
  margin-top: 0;
}

#Hero-Image {
  left: 50%;
  z-index: -1;
  position: relative;
  transform: translate(-50%);
  height: 350px;
}

#About {
  margin-bottom: 40px;
  margin-top: -120px;
}

#About-Heading {
  font-family: "Conthrax Rg";
  margin-bottom: 24px;
}

.product-card {
  min-height: 495px;
  border-radius: 24px;
  background: url("../../assets/img/archs.png");
  background-size: contain;
  background-color: #3d3d3d;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
  padding: 2rem;
}

.product-card-details {
  font-size: 1rem;
  color: #f6f6f7;
}

.product-card-heading {
  font-family: "Conthrax Rg";
  margin-bottom: 24px;
  text-align: center;
  font-size: 20px;
  color: #f6f6f7;
}

#Partners-Left-Column {
  margin-bottom: 48px;
}

#Partners-Heading {
  font-family: "Conthrax Rg";
  margin-bottom: 24px;
}

.validator-details {
  margin-bottom: 24px;
}

.validator-details-heading {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
#Action {
  margin-bottom: 40px;
}

#Action-Container {
  padding: 40px 0px;
  border-top: 1px solid #c8c8c9;
  border-bottom: 1px solid #c8c8c9;
}

#Action-Heading {
  font-family: "Conthrax Rg";
  margin-bottom: 24px;
  text-align: center;
}

#Action-Button {
  background: #262626;
  font-family: "Conthrax Rg";
  color: #f6f6f7;
  width: 100%;
  padding: 16px 0px;
  border-radius: 16px;
}

.footer-social-icon {
  height: 36px;
  width: 36px;
  background: #121212;
  border-radius: 36px;
  margin-right: 16px !important;
}

#Footer {
  padding-bottom: 40px;
}

#Footer-Image {
  height: 44px;
  margin-bottom: 32px;
}

#Footer-Social {
  margin-bottom: 32px;
}

.social-icon {
  color: #f6f6f7;
  font-size: 20px;
}

@media (min-width: 768px) {
  body {
    padding: 0px 40px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: 32px;
  }
  section {
    margin-bottom: 60px;
  }
  #Navbar {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  .nav-active .container {
    background-color: #3d3d3d;
    padding: 12px 12px;
    border-radius: 24px;
    transition: background-color 0.75s ease;
  }
  .nav-active .navbar-brand span {
    color: #f6f6f7;
  }
  #Hero-Heading {
    font-size: 52px;
  }

  #Hero p {
    font-size: 28px;
  }
  #Hero-Image {
    height: 550px;
  }
  #About {
    margin-bottom: 60px;
    margin-top: -180px;
  }

  #About-Heading {
    margin-bottom: 32px;
  }

  .product-card-heading {
    text-align: left;
    font-size: 24px;
  }
  #Partners-Right-Column {
    margin-top: 64px;
    text-align: right;
  }

  .validator-details {
    margin-bottom: 36px;
  }
  #Action {
    margin-bottom: 60px;
  }

  #Action-Container {
    padding: 60px 0px;
  }
  #Action-Button {
    max-width: 240px;
  }
  #Footer {
    padding-bottom: 60px;
  }

  #Footer-Image {
    height: 54px;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 0px 80px;
  }
  span.outline {
    font-size: 44px;
  }
  section {
    margin-bottom: 160px;
  }
  #Hero-Heading {
    font-size: 44px;
  }
  #Hero-Container {
    position: relative;
  }
  #Hero-Image {
    left: auto;
    z-index: -1;
    position: absolute;
    transform: initial;
    height: 350px;
    right: 0;
  }

  #About {
    margin-bottom: 160px;
    margin-top: 0;
  }

  .product-card {
    background-size: 75%;
    background-position: right center;
  }

  .product-card-details {
    text-align: left !important;
  }

  #Action-Container {
    padding: 160px 0px;
  }

  #Footer {
    padding-bottom: 160px;
  }
}
